//component style css messes everything up
$xs: 0px;

// Small tablets (portrait view)
$sm: 600px;

// Tablets and small desktops
$md: 960px;

// Large tablets and desktops
$lg: 1280px;

// Small tablets (portrait view)
$xl: 1920px;