html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//CSS For Chart
.chartButtons{
  margin-left:30px;
  display: flex;
  justify-content: space-between;
  
  button{
    height:28px;
    cursor: pointer;
    width:42px;
    background-color: white;
    padding: 4px 10px 3px 10px;
    color:black;
    font-weight: bold;
  }
}

//CSS For Stock Card

.stockCard{
  display:flex;
  color:white;
  height:62px;
  margin-top:20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.64);
  padding-bottom: 20px;
 

  .stockImg{
    background-color: white;
    width:34px;
    height: 41px;
    margin-right:6px;
  }

  .stockName{
    display:flex;
    align-items: center;
    
  }

  .stockGroup{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;

    h3{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      
    }

  }

  .stockMoney{
    display: flex;
    flex-direction: column;
    text-align: right;
    h4{
      color:green;
      margin: 0 0 0 0;

      
    }
    h3{
      margin: 0 0 0 0;

    }
  }




}

//CSS for Portfolio Card
.portfolioCard{
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  color: white;
  background-color: #222222;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  .percentage{
    color:green;
  }
  .plus{
    display: flex;
    align-items: center;
    p{
      margin: 0 0 0 0;
      padding-right:3px;
    }
  }
  //CSS to animate the toggle for plus
  .toggleButton{
    color:white;
    border: none;
    cursor: pointer;

    &.active{
      .targetIcon{
        opacity:0;
      }
      .secondIcon{
        opacity: 1;
      }
    }

    .secondIcon{
      opacity: 0;
      position: absolute;
    }

    .secondIcon, .targetIcon{
      transition: all 0.5s ease;

    }

  }
}


.chartInfo{
  background-color: red;
  display: none;
  padding: 2px 2px 2px 2px;
  
  p{
    margin: 0 0 0 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
}


//CSS for Stock Company Component 
.stockCompany{
  .value{
    margin-bottom: 40px;
  }
}


.buttonGroup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  button{
    color:black;
    border: none;
    background-color: green;
    text-align: center;
    font-weight: bold;
    padding: 13px 23px 13px 23px;
    max-width: 80px;
    border-radius: 5px;
  }
  .sellBtn{
    background-color: red;
  }
}

.modal{
  height: 100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  bottom: 0;
  
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50%;
  

  .modal-content{
    position: fixed;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:50px;
    padding: 10px 7px 10px 10px;
    height: 600px;
    z-index: 1;
    animation-name:animateBottom;
    animation-duration: 0.5s;
    @keyframes animateBottom {
      from {bottom: -800px; opacity: 0}
      to {bottom: 0; opacity: 1}
    }
    margin: auto;
    
    width: 85%;
    border-radius: 5px;

    &.sell{
      h1{
        color:red;
      }
    }
  
    .row{
      display:flex;
      justify-content: space-between;
      font-size: 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.64);
      padding-bottom:8px;
      margin-bottom: 20px;

      input{
        text-align:right;
        max-width: 150px;
      }
    }

    .buttonGroup{
      justify-content: space-evenly;
      button{
        padding: 10px 10px 10px 10px;
      }
      .cancel{
        background-color: red;
      }


    }
  
    background-color: #26304A;
    color:white;
  
    h1{
      color:green;
      text-align: center;
      margin: 0 0 0 0;
    }
  }



}

