html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.chartButtons{
  margin-left:30px;
  display: flex;
  justify-content: space-between;
  
  button{
    height:28px;
    width:42px;
    background-color: white;
    padding: 4px 10px 3px 10px;
    color:black;
    font-weight: bold;
  }
}

//CSS For Stock Card

.stockCard{
  display:flex;
  color:white;
  height:62px;
  margin-top:20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.64);
  padding-bottom: 20px;
 

  .stockImg{
    background-color: white;
    width:34px;
    height: 41px;
    margin-right:6px;
  }

  .stockName{
    display:flex;
    align-items: center;
    
  }

  .stockGroup{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;

    h3{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      
    }

  }

  .stockMoney{
    display: flex;
    flex-direction: column;
    text-align: right;
    h4{
      color:green;
      margin: 0 0 0 0;

      
    }
    h3{
      margin: 0 0 0 0;

    }
  }




}

