@import './variables';

.loginForm{
    display: flex;
    .drawing{
        display: none;
    }
    background-color: #222222;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin: 20px auto;
    border-radius: 25px;
    display: flex;
    height: 75%;
    width: 75%;
    color:white;
    padding: 5px 10px 10px 20px;
    .loginChoices{
        padding-bottom: 20px;
    }
    .loginOptions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .guestLogin{
        cursor: pointer;
        text-align: center;
        padding: 10px 5px 10px 5px;
        width: calc(100% - 10px);
        border: none;
        outline: none;
        font: inherit;
        color: inherit;
        background-color: orange;
        border-radius: 5px;
        margin: 5px auto;
        h2{
            margin: 0
        }
        &:hover{
            background-color: #CB7119;
        }
    }
    //media query for tablets and small laptops;
    @media only screen and (min-width: $md) {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 50px;
        .drawing{
            display: block;
        }
        flex-direction: row;
        justify-content: space-between;
        .loginChoices{
            margin: 0 auto;
        }
    }
}