//Mobile first approach this section is mobile

//component style css messes everything up
$xs: 0px;

// Small tablets (portrait view)
$sm: 600px;

// Tablets and small desktops
$md: 960px;

// Large tablets and desktops
$lg: 1280px;

// Small tablets (portrait view)
$xl: 1920px;


.nav{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color: #222222;
    padding: 7px 7px 7px 7px;
    height:70px;
    z-index: 1;
    .menuIcon{
        color:white;
    }
    
    .logo{
        width:156px;
        height:80%;
        display:none;
        background-color: blue;
        cursor: pointer;
    }

    .searchBar{
        margin-left:15px;
        display:flex;
        align-items: center;
        font-size: 1rem;
        border-radius: 5px;
        width: 75%;
        color: white;
        padding-left: 10px;
        input{
            background-color:transparent;
            border:none;
            color:white;
            font-size: 0.875rem;
            width:100%;
        }
        input:focus, textarea:focus, select:focus{
            outline: none;
        }
    }
    .subMenu{
        padding: 0 0 0 0;
        list-style-type: none;
        display:none;
        width:100%;
        background-color: #222222;
        z-index: 2;
        li:hover{
            color:blue;
        }
        .mobileProfile{
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            padding-bottom: 5px;
            padding-top: 5px;
            button{
                padding:0;
            }
        }
        
    }
    .menuTablet{
        list-style-type: none;
        display:none;
        padding-inline-start: 0px;
        margin: 0 0 0 0;
        li{
            color:white;
            padding-right:20px;
            cursor: pointer;
        }
        li:hover{
            color:blue;
        }

    }
    .active{
        display: block;
        text-align: center;
        li{
            color:white;
            text-align: center;
            font-size: 2rem;
            width:100%
        }

    }
    .popper{
        &:hover{
            color:blue;
        }
    }
    
    //media query for tablets and small laptops;
    @media only screen and (min-width: $md) {
        justify-content: space-between;
        background-color: #222222;
        .logo{
            display:inline-block
        }
        .menuIcon{
            display: none;
        }
        .searchBar{
            width:50%
        }
        .menuTablet{
            display: flex;
            flex-direction: row;
            
        }
        .active{
            display: none;
        }
        
        
    }
}

//
